<md-sidenav-container [class.cortex-dark]="isDarkTheme" fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav" >
      <a md-button [routerLink]="['./']">Home</a>
      <br />
      <a md-button [routerLink]="['./', 'about']">About</a>
      <br />
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <%= project.namespace %>-<%= project.name %>
    <span class="app-toolbar-filler"></span>

    <md-icon *ngIf="offline | async" md-tooltip="Offline">cloud_off</md-icon>
  </md-toolbar>
  <div class="app-content" fxFlex>
    <router-outlet ></router-outlet>
  </div>
</md-sidenav-container>
